Repository iterative/dvc-s3: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pylint

mypy:
  name: mypy
  entry: mypy
  language: system

pylint:
  name: pylint
  entry: pylint
  language: system

update template
  .cruft.json
  pyproject.toml.rej
  setup.cfg.rej
Due: none

Revert "update template"
  .cruft.json
  pyproject.toml.rej
  setup.cfg.rej
Due: none

Revert "update template" (#50)
  .cruft.json
  pyproject.toml.rej
  setup.cfg.rej
Due: none

update template
  .cruft.json
  setup.cfg
Due: none

update template (#51)
  .cruft.json
  setup.cfg
Due: none

update template
  .cruft.json
  .pre-commit-config.yaml
Due: none

update template (#52)
  .cruft.json
  .pre-commit-config.yaml
Due: none

update template (#53)
  .cruft.json
  .pre-commit-config.yaml
Due: none

Migrate from PyPI tokens to Trusted Publishers
  .github/workflows/release.yaml
Due: none

update template
  .cruft.json
  .github/workflows/release.yaml
  .github/workflows/update-template.yaml
Due: none

update template (#55)
  .cruft.json
  .github/workflows/release.yaml
  .github/workflows/update-template.yaml
Due: none

deps: bump pytest-servers to 0.2.6
  setup.cfg
Due: none

fs: replace fs.path with plain fs methods
  dvc_s3/__init__.py
  dvc_s3/path.py
Due: mypy, pylint

fs: replace fs.path with plain fs methods (#57)
  dvc_s3/__init__.py
  dvc_s3/path.py
Due: mypy, pylint

deps: bump pytest-servers to >=0.3.0
  setup.cfg
Due: none

deps: bump pytest-servers to >=0.3.0 (#58)
  setup.cfg
Due: none

deps: bump pytest-servers to >=0.4.0
  dvc_s3/tests/cloud.py
  dvc_s3/tests/fixtures.py
  setup.cfg
Due: mypy, pylint

deps: bump pytest-servers to >=0.4.0 (#59)
  dvc_s3/tests/cloud.py
  dvc_s3/tests/fixtures.py
  setup.cfg
Due: mypy, pylint

tests: cloud: introduce unlink/rmdir
  dvc_s3/tests/cloud.py
Due: mypy, pylint

tests: cloud: introduce unlink/rmdir (#60)
  dvc_s3/tests/cloud.py
Due: mypy, pylint

cruft: update template
  .cruft.json
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  dvc_s3/__init__.py
  dvc_s3/tests/benchmarks.py
  dvc_s3/tests/cloud.py
  dvc_s3/tests/conftest.py
  dvc_s3/tests/fixtures.py
  dvc_s3/tests/test_dvc.py
  dvc_s3/tests/test_s3.py
  dvc_s3/tests/test_utils.py
  pyproject.toml
  setup.cfg
Due: mypy, pylint

gha: temporarily disable tests on py3.12
  .github/workflows/tests.yaml
Due: none

cruft: update template (#61)
  .cruft.json
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .pre-commit-config.yaml
  dvc_s3/__init__.py
  dvc_s3/tests/benchmarks.py
  dvc_s3/tests/cloud.py
  dvc_s3/tests/conftest.py
  dvc_s3/tests/fixtures.py
  dvc_s3/tests/test_dvc.py
  dvc_s3/tests/test_s3.py
  dvc_s3/tests/test_utils.py
  pyproject.toml
  setup.cfg
Due: mypy, pylint

tests: bring back imports
  dvc_s3/tests/test_dvc.py
Due: mypy, pylint

tests: bring back imports (#62)
  dvc_s3/tests/test_dvc.py
Due: mypy, pylint

update template
  .cruft.json
  pyproject.toml
  pyproject.toml.rej
Due: none

unpin dependencies; prune unnecessary deps
  .github/workflows/tests.yaml
  pyproject.toml
Due: none

unpin dependencies; prune unnecessary deps (#64)
  .github/workflows/tests.yaml
  pyproject.toml
Due: none

load dvc.testing.plugin for benchmarks
  .github/workflows/benchmarks.yaml
  pyproject.toml
Due: none

bring back benchmarks
  dvc_s3/tests/benchmarks.py
Due: mypy, pylint

s/dvc-s3/dvc_s3
  dvc_s3/tests/benchmarks.py
  dvc_s3/tests/cloud.py
  dvc_s3/tests/fixtures.py
  dvc_s3/tests/test_s3.py
  pyproject.toml
Due: mypy, pylint

load dvc.testing.plugin for benchmarks (#65)
  .github/workflows/benchmarks.yaml
  dvc_s3/tests/benchmarks.py
  dvc_s3/tests/cloud.py
  dvc_s3/tests/fixtures.py
  dvc_s3/tests/test_s3.py
  pyproject.toml
Due: mypy, pylint

Delete pyproject.toml.rej
  pyproject.toml.rej
Due: none

test on 3.12
  .github/workflows/tests.yaml
Due: none

test on 3.12 (#66)
  .github/workflows/tests.yaml
Due: none

update template
  .cruft.json
  .github/workflows/release.yaml
  .github/workflows/tests.yaml
  .github/workflows/update-template.yaml
  .pre-commit-config.yaml
  setup.py
Due: pylint

Path conditions:
  mypy: any of: ^dvc_s3/ and \.py$
  pylint: any of: \.py$
